<p-card title="Persons">
  <div class="ui-g">
    <p-table [value]="persons">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-person let-rowIndex="rowIndex">
        <tr>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input type="text" [value]="getId(rowIndex)" (input)="setId($event, rowIndex)"/>
              </ng-template>
              <ng-template pTemplate="output">
                {{getId(rowIndex)}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input type="text" [value]="getName(rowIndex)" (input)="setName($event, rowIndex)">
              </ng-template>
              <ng-template pTemplate="output">
                {{getName(rowIndex)}}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
